# For projects using nanoc (http://nanoc.ws/)

# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Temporary file directory
tmp/
downloads/

# Crash Log
crash.log

# macOS artifacts
.DS_Store

# Ruby artifacts
.bundle/
vendor/
