---
title: Download
---
<div class="row">
  <div class="col-md-12 doc-content download">
    <h1>Download</h1>

    <div class="toc toc-right">
      <ul>
      <% Downloads.repositories.each do |repo| %>
        <li><a href="#<%= repo.name %>"><%= repo.name %></a></li>
      <% end %>
      </ul>
    </div>

    <p>
      We provide precompiled binaries and <a href="https://hub.docker.com/r/prom/">Docker images</a>
      for most officially maintained Prometheus components. If a component is
      not listed here, check the respective repository on Github for further
      instructions.
    </p>
    <p>
      There is also a constantly growing number of independently maintained
      exporters listed at <a href="/docs/instrumenting/exporters/">Exporters
      and integrations</a>.
    </p>

    <div class="panel panel-default download-selection">
      <div class="panel-body">
        Operating system <%= dropdown(:os, Downloads.operating_systems, :popular, popular: %w(darwin linux windows)) %>
        Architecture <%= dropdown(:arch, Downloads.architectures, :amd64) %>
      </div>
    </div>

    <% Downloads.repositories.each do |repository| %>
    <h2 id="<%= repository.name %>"><%= repository.name %></h2>
    <p><%= repository.description %> <a href="<%= repository.url %>"><i class="fa fa-github"></i> <%= repository.full_name %></a></p>

    <table class="table table-bordered downloads">
    <% repository.releases.each do |release| %>
      <thead>
        <tr>
          <td colspan="5">
            <strong><%= release.name %></strong>
            <%= %(<span class="label label-primary">Pre-release</span>) if release.prerelease %>
            <%= %(<span class="label label-primary">LTS</span>) if release.lts_release %>
            <small><a href="<%= release.url %>">Release notes</a></small>
          </td>
        </tr>
        <tr class="first">
          <th>File name</th>
          <th>OS</th>
          <th>Arch</th>
          <th>Size</th>
          <th>SHA256 Checksum</th>
        </tr>
      </thead>
      <tbody>
      <% release.binaries.each do |binary| %>
        <tr data-os="<%= binary.os %>" data-arch="<%= binary.arch %>">
          <td class="filename"><a class="download" href="<%= binary.url %>"><%= binary.name %></a></td>
          <td><%= binary.os %></td>
          <td><%= binary.arch %></td>
          <td><%= format_bytes binary.size %></td>
          <td class="checksum"><%= Downloads.checksum(release, binary.name) %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
    </table>
    <% end %>
  </div>
</div>
