:is(h1, h2, h3, h4, h5, h6) > a {
  position: absolute;
  transform: translateX(-130%);
  text-decoration: none;
  opacity: 0;
  color: var(--mantine-color-gray-6);

  &:hover {
    opacity: 1;
  }
}

:is(h1, h2, h3, h4, h5, h6):hover > a {
  opacity: 1;
}

:is(h1, h2, h3, h4, h5, h6) a:hover {
  color: var(--mantine-color-gray-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: calc(var(--mantine-spacing-xl) * 1.2);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.2);

  &:is(h1) {
    margin-top: 0;
  }
}

pre > code a {
  color: #337ab7;
  font-style: italic;
  text-decoration: none;

  &:hover {
    color: #23527c;
    text-decoration: underline;
  }
}

:not(pre) > code {
  background-color: var(--mantine-color-gray-1);
  font-size: 0.9em;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
}
