<% render 'default' do %>
<div class="row">
  <div class="col-md-9 blog doc-content">
    <h1><%= item[:title] %></h1>
    <aside>Posted at: <%= get_pretty_date(item) %> by <%= item[:author_name]%></aside>
    <article class="doc-content">
      <%= yield %>
    <article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'prometheus-blog';
     
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>

  <%= render 'blog_sidebar' %>
</div>
<% end %>
