<%= render 'header' %>

<div class="container">
  <div class="row">
    <div class="col-md-3 side-nav-col">
      <ul class="nav navbar-nav side-nav">
        <% @items['/docs/'].children.sort_by { |i| i[:sort_rank] || 0 }.each do |i| %>
          <%= nav(i) %>
        <% end %>
      </ul>
    </div>

    <div class="col-md-9 doc-content">
      <%= yield %>
      <p class="open-source-notice">
          <i class="fa fa-file"></i> This documentation is <a href="https://github.com/prometheus/docs#contributing-changes">open-source</a>. Please help improve it by filing issues or pull requests.
      </p>
    </div>

  </div>
  <%= render 'container_footer' %>
</div>

<%= render 'footer' %>
