    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/assets/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/docs.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/ie10-viewport-bug-workaround.js"></script>
    <!-- Algolia Docsearch -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      docsearch({
        apiKey: '48ac0b7924908a1fd40b1cb18b402ba1',
        indexName: 'prometheus',
        inputSelector: '.searchbox',
        // Search all pages that either are the latest or are not part of the versioned Prometheus docs subtrees.
        algoliaOptions: { 'filters': 'include:true' },
        debug: false // Set debug to true if you want to inspect the dropdown
      });
    </script>
  </body>
</html>
