<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An open-source monitoring system with a dimensional data model, flexible query language, efficient time series database and modern alerting approach.">
    <meta name="keywords" content="prometheus, monitoring, monitoring system, time series, time series database, alerting, metrics, telemetry">
    <meta name="author" content="Prometheus">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="An open-source monitoring system with a dimensional data model, flexible query language, efficient time series database and modern alerting approach.">
    <meta property="og:image" content="https://prometheus.io/assets/favicons/android-chrome-192x192.png">

    <link rel="alternate" type="application/atom+xml" title="Prometheus Blog » Feed" href="/blog/feed.xml">

    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicons/android-chrome-manifest.json">
    <% if (c = @item[:repo_docs]) && c[:canonical_root] %><link rel="canonical" href="<%= @item.path.sub(c[:version_root], c[:canonical_root]) %>" /><% end %>
    <!-- Meta tag for indexing that enables faceted search in Algolia,
      see https://docsearch.algolia.com/docs/required-configuration/#introduce-global-information-as-meta-tags -->
    <meta name="docsearch:prometheus-version" content="<%= @item[:repo_docs] && @item[:repo_docs][:name] || 'none' %>" />
    <meta name="docsearch:include" content="<%= (@item[:repo_docs].nil? || @item[:repo_docs][:name].include?('latest')) && 'true' || 'false' %>" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <% if @item[:title_prefix] %>
    <meta property="og:title" content="<%= @item[:title_prefix] %> | Prometheus">
    <title><%= @item[:title_prefix] %> | Prometheus</title>
    <% elsif @item[:title] %>
    <meta property="og:title" content="<%= @item[:title] %> | Prometheus">
    <title><%= @item[:title] %> | Prometheus</title>
    <% else %>
    <meta property="og:title" content="Prometheus - Monitoring system &amp; time series database">
    <title>Prometheus - Monitoring system &amp; time series database</title>
    <% end %>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Algolia site search, see https://www.algolia.com/solutions/site-search/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

    <!-- Custom styles for this template -->
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/routing-tree-editor.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/tabler-icons-3.19.0/webfont/tabler-icons.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="<%= @item[:layout] == 'jumbotron' ? 'navbar-jumbotron' : '' %>">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/prometheus_logo_grey.svg" alt="Prometheus logo"> Prometheus</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right main-nav">
            <li><a href="/docs/introduction/overview/">Docs</a></li>
            <li><a href="/download/">Download</a></li>
            <li><a href="/community/">Community</a></li>
            <li><a href="/support-training/">Support & Training</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><input class="searchbox form-control" type="search" placeholder="Search" aria-label="Search"></li>
            <li><a href="https://github.com/prometheus"><i class="ti ti-brand-github"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
