<%= render '/header.*' %>

<div class="jumbotron">
  <div class="container">
    <h1><img src="/assets/prometheus_logo.svg" alt="Prometheus logo"> Prometheus</h1>
    <p class="subtitle">An open-source service monitoring system and time series database.</p>
    <p><a class="btn btn-default btn-lg" href="/docs/introduction/getting_started/" role="button">Get Started</a></p>
  </div>
</div>

<div class="container">
  <%= yield %>
  <%= render '/container_footer.*' %>
</div>

<%= render '/footer.*' %>
