/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Open Sans', serif;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 20px;
  color: #aaa;
}

.navbar-brand img {
  height: 27px;
  display: inline;
  margin-top: -4px;
  margin-right: 3px;
}

.jumbotron {
  background-color: #e6522c;
  background-image: url("/assets/jumbotron-background.png");
  text-align: center;
  padding: 40px 0;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron p {
  color: rgba(255,255,255,0.7);
}

.jumbotron a.btn {
  border: none;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
}

.jumbotron a.btn:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
}

.jumbotron img {
  height: 100px;
  padding-bottom: 15px;
}

.jumbotron .subtitle {
  margin-bottom: 20px;
}

.main .fa {
  color: #e6522c;
}

.main h2 {
  font-size: 25px;
  white-space: nowrap;
}

footer {
  font-size: 12px;
  color: #333;
}

a.sc-logo img {
  margin-left: 3px;
  margin-bottom: 3px;
}

/* Docs-related styles. */
.side-nav-col {
  z-index: 100;
}

.side-nav {
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
}

.side-nav .fa {
  color: #555;
}

.side-nav a {
  color: #333;
}

.side-nav > li {
  width: 100%;
}

.side-nav .nav-header {
  color: #e6522c;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  margin: 20px auto 15px auto;
}

.side-nav .active {
  border-left: 3px solid #e6522c;
  margin-left: -2px;
  font-weight: bold;
}

.side-nav li ul li {
  border-left: 1px solid #e9eff2;
}

.doc-content {
  margin-top: 25px;
}

.doc-content {
  font-size: 18px;
}

.doc-content p, .doc-content.ul, .doc-content .alert {
  margin: 25px 0 25px 0;
}

.doc-content > h1 {
  color: #e6522c;
  text-transform: uppercase;
  margin: 40px 0 10px 0;
}

.doc-content > h1 a {
  color: #e6522c;
}

.doc-content.blog > h1 {
  text-transform: none;
}

.doc-content > h2 {
  color: #e6522c;
  font-size: 25px;
}

.doc-content > h2 code {
  color: #e6522c;
  background: none;
}

.doc-content > h3 {
  font-size: 22px;
}

.doc-content > h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.doc-content a.header-anchor {
  padding-left: 15px;
}

.doc-content a.header-anchor:after {
  content: "\F0C1";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: .8em;
}

.doc-content a.header-anchor:link,
.doc-content a.header-anchor:visited {
  visibility: hidden;
}

.doc-content h1:hover a.header-anchor:hover,
.doc-content h2:hover a.header-anchor:hover,
.doc-content h3:hover a.header-anchor:hover,
.doc-content h4:hover a.header-anchor:hover,
.doc-content h5:hover a.header-anchor:hover,
.doc-content h6:hover a.header-anchor:hover {
  color: #000;
}

.doc-content h1:hover a.header-anchor,
.doc-content h2:hover a.header-anchor,
.doc-content h3:hover a.header-anchor,
.doc-content h4:hover a.header-anchor,
.doc-content h5:hover a.header-anchor,
.doc-content h6:hover a.header-anchor {
  color: #999;
  visibility: visible;
}

.doc-content img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

pre {
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
  background-color: #444;
  color: #f8f8f2;
}

code {
  color: #333;
}

.main p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.main .desc {
  margin-bottom: 20px;
}

.main-nav {
  letter-spacing: 1px;
  font-family: Avenir, 'Open Sans', serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

article {
  margin: 10px 0 60px 0;
}

.read-more > a {
  color: #888;
}
