body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
  margin-bottom: 0;
  min-height: 60px;
}

.navbar-brand {
  margin-top: 1px;
  font-family: Lato, sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
}

.navbar-brand img {
  height: 30px;
  display: inline;
  margin-top: -5px;
  margin-right: 3px;
}

.navbar-toggle {
  margin-top: 22px;
}

.navbar-jumbotron .navbar {
  min-height: 83px;
}

.navbar-jumbotron .navbar-brand {
  margin-top: 12px;
}

.navbar-jumbotron .main-nav {
  margin-top: 15px;
}

.main-nav {
  margin-top: 3px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.main-nav > li > a {
  text-transform: uppercase;
}

.algolia-autocomplete {
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #e6522c;
  background: #e6522c20;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0
.algolia-docsearch-suggestion--highlight,
.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1
.algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #e6522cc0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #e6522cc0;
}

.searchbox {
  border: none;
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  color: white;
}

.jumbotron {
  background-color: #e6522c;
  background-image: url("/assets/jumbotron-background.png");
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  margin-bottom: 0px;
  padding: 40px 0;
}

.jumbotron h1 {
  margin-top: 30px;
  font-size: 52px;
  font-weight: 300;
  color: #fff;
}

.jumbotron .subtitle {
  font-weight: 300;
  font-size: 32px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

.jumbotron a.btn {
  border: none;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
  padding: 20px 25px 20px 25px;
  margin: 15px 10px 0 10px;
  text-transform: uppercase;
}

.jumbotron a.btn:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
}

.newsbar {
  background-color: #eee;
  text-align: center;
  font-family: Lato, sans-serif;
  padding: 25px 50px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.newsbar a {
  font-weight: 400;
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.feature-item:hover {
  background-color: #fad9d1;
  border-radius: 3px;
}

.feature-item a {
  text-decoration: none;
  color: none;
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.feature-item .ti {
  margin-right: 5px;
  color: #e6522c;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
}

.top-hr {
  margin-top: 30px;
}

.quote {
  margin: 25px 0 25px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.quote-text {
  width: 60%;
  margin: auto;
  font-size: 22px;
  font-style: italic;
  color: #be3511;
}

.quote-source {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 50px;
}

.open-source {
  margin: 25px 0 20px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.open-source h1 {
  margin-top: 0;
  font-weight: 300;
}

.open-source p {
  width: 50%;
  margin: auto;
  font-size: 20px;
}

.open-source .github-stars {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

@media screen and (max-width: 365px) {
  .open-source img {
    width: 90%;
  }
}

.trusted-by {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.logos img {
  flex: 1 1 auto;
  padding: 22px;
  max-width: 220px;
  max-height: 101px;
}


footer {
  font-size: 12px;
  color: #333;
}

/* Downloads related styles. */
.download h2 {
  margin-top: 2em;
}

.download-selection {
  clear: both;
}

.download .alert {
  clear: both;
}

.download-selection .btn-group {
  padding-right: 1em;
}

.downloads td, .downloads th {
  white-space: nowrap;
}

.downloads .filename {
  width: 100%;
}

.downloads .checksum {
  font-family: monospace;
  font-size: .6em;
  vertical-align: inherit;
}

/* Docs-related styles. */
.side-nav-col {
  z-index: 100;
}

.side-nav {
  margin-top: 20px;
  padding: 5px 20px 20px 7px;
}

.side-nav .ti {
  width: 20px;
  color: #555;
  font-size: 1.1em;
}

.side-nav a {
  color: #333;
}

.side-nav > li {
  width: 100%;
}

.side-nav div {
  padding: 10px 15px;
  background-color: #eee;
}

.side-nav .nav-header {
  display: flex;
  gap: 5px;
  align-items: baseline;
  margin: 20px auto 15px auto;
  font-size: 16px;
}

.side-nav .nav-header a, .side-nav .nav-header {
  color: #e6522c;
  text-transform: uppercase;
  text-decoration: none;
}

.side-nav li.current {
  border-left: 3px solid #e6522c;
  margin-left: -2px;
  font-weight: bold;
}

.side-nav li ul li {
  border-left: 1px solid #e9eff2;
}

.side-nav li li li a {
  padding: 5px 15px 5px 40px;
}

/* NOTE: When updating this class name, the search box configuration at
  https://github.com/algolia/docsearch-configs/blob/master/configs/prometheus.json needs to be updated as well! */
.doc-content {
  font-size: 16px;
}

.doc-content p, .doc-content.ul {
  margin: 15px 0 15px 0;
  line-height: 1.5;
}

.doc-content .alert {
  margin: 15px 0 15px 0;
  line-height: 1.5;
  /* This is to prevent NOTE/admonition alert boxes from overlapping the table of contents at the top of a docs page. */
  display: inline-block; width: 100%;
}

.doc-content > h1 {
  color: #e6522c;
  font-size: 30px;
  text-transform: uppercase;
  margin: 40px 0 10px 0;
}

.doc-content > h1 a {
  color: #e6522c;
}

.doc-content.blog > h1 {
  text-transform: none;
}

.doc-content.blog .sponsor-logos > a > img {
  width: 250px;
  display: inline-block !important;
  margin: 15px 55px;
}

.doc-content > h2 {
  color: #e6522c;
  font-size: 22px;
}

.doc-content > h2 code {
  color: #e6522c;
  background: none;
}

.doc-content > h3 {
  font-size: 20px;
  font-weight: bold;
}

.doc-content > h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.doc-content a.header-anchor {
  font-size: .8em;
  padding-left: 8px;
  text-decoration: none;
}

.doc-content a.header-anchor:link,
.doc-content a.header-anchor:visited {
  visibility: hidden;
}

.doc-content h1:hover a.header-anchor:hover,
.doc-content h2:hover a.header-anchor:hover,
.doc-content h3:hover a.header-anchor:hover,
.doc-content h4:hover a.header-anchor:hover,
.doc-content h5:hover a.header-anchor:hover,
.doc-content h6:hover a.header-anchor:hover {
  color: #000;
}

.doc-content h1:hover a.header-anchor,
.doc-content h2:hover a.header-anchor,
.doc-content h3:hover a.header-anchor,
.doc-content h4:hover a.header-anchor,
.doc-content h5:hover a.header-anchor,
.doc-content h6:hover a.header-anchor {
  color: #999;
  visibility: visible;
}

.doc-content img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.doc-content img.orig-size {
  width: auto;
  margin-left: 0;
}

.doc-content .open-source-notice {
  color: #666;
  background-color: #f5f5f5;
  text-align: center;
  padding: 0.8em;
  margin-top: 1.5em;
}

.toc {
  padding: 1em;
  background-color: #f5f5f5;
}

.toc-right {
  float: right;
  width: 40%;
  margin: 0 0 0.5em 0.5em;
}

.toc ul {
  padding: 0 0 0 1.5em;
  margin: 0;
}

.toc a code {
  color: #337ab7;
  background-color: transparent;
}

pre {
  border: 1px solid #ddd;
  border-left: 4px solid #e6522c;
  border-radius: 0;
  font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
  background-color: #f5f5f5;
  color: #333;
  padding: 15px;
}

pre code {
  white-space: pre;
}

code {
  color: #333;
}

aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

article {
  margin: 10px 0 60px 0;
}

.training > .row {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.training h2 {
  margin-bottom: 20px;
}

.gray-bg {
  background-color: #f5f5f5;
}

.darkgray-bg {
  background-color: #c1c1c1;
}

.orange-bg {
  background-color: #e6522c;
}

.orange-bg:hover {
  background-color: #c13e1c;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.panel-col {
  margin-bottom: 40px;
}

.panel {
  height: 100%;
}

.btn-training {
  width: 100%;
}

.tc-col {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tc-col .btn {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


.training-cta .btn {
  text-transform: uppercase;
  border: 0px;
  padding: 25px;
}
